/* THESE ARE FOR APPLE DEVICES */

/* apply the rules when the width is LESS THAN or EQUAL to 480px - This is for Small Phones */
/* 0 to 480px! 480px being the max! */
@media only screen and (max-width: 480px) {
	.steps-box .app-screen {
		width: 90%;
		/* border: 3px solid red; */
	}
	.section-cities .row .col {
		width: 100%;
	}
	header {
		background-attachment: local;
	}
	.section-testimonials {
		background-attachment: local;
	}
}

/* for Small Phones to Tablets! 767px being the max! */
@media only screen and (max-width: 767px) {
	body {
		font-size: 80%;
	}
	header {
		height: 80vh;
	}
	section {
		padding: 30px 0;
	}
	.row,
	.hero-text-box {
		padding: 0 4%;
	}
	.hero-text-box {
		text-align: center;
		top: 50%;
		/* border: 2px solid red; */
		/* left: 50%; */
		/* transform: translate(-50%, -50%); */
	}
	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}
	.steps-box:first-child {
		text-align: center;
	}

	.steps-box .app-screen {
		padding: 80px;
	}

	.main-nav {
		display: none;
		margin-top: 25px;
		float: left;
	}

	.main-nav li {
		display: block;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: 0;
		padding: 10px 0;
		font-size: 100%;
	}

	.mobile-nav-icon {
		display: block;
	}

	/* Stick Navi */
	.sticky .main-nav {
		margin-top: 10px;
	}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		color: #555;
		padding: 10px 0;
	}

	.sticky .main-nav li a:hover,
	.sticky .main-nav li a:active {
		border-bottom: 0;
	}

	.sticky .mobile-nav-icon .mobile-icon {
		color: #555;
	}

	.long-copy {
		width: 100%;
		margin-left: 0%;
	}

	h1 {
		font-size: 180%;
	}
	h2 {
		font-size: 150%;
	}
	.works-steps {
		margin-bottom: 20px;
	}
	.works-steps:last-of-type {
		margin-bottom: 20px;
	}
	.works-steps div {
		color: #e67e22;
		border: 2px solid #e67e22;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		text-align: center;
		padding: 4px;
		margin-right: 15px;
		margin-top: -5px;
		float: left;
		font-size: 120%;
	}
	.section-cities .box {
		text-align: center;
		width: 50%;
		/* border: 2px solid red; */
	}
	.section-cities .box img {
		width: 60%; /* 100% of the span-1-of-4!!  */
		margin-bottom: 15px;
	}
	.section-cities .box .city-feature {
		padding-left: 60px;
		text-align: left;
	}
	blockquote {
		margin-top: 60px;
	}
}

/* for iPad in Portrait Mode! 1023px being the max */
@media only screen and (max-width: 1023px) {
	body {
		font-size: 90%;
	}
	section {
		padding: 60px 0;
	}
	.long-copy {
		width: 80%;
		margin: 0 auto; /* or margin-left: 10% */
	}
	.steps-box {
		margin-top: 10px;
	}
	.steps-box:last-child {
		padding-left: 3%;
		margin-top: 10px;
	}
	.works-steps {
		margin-bottom: 40px;
	}
	.works-steps:last-of-type {
		margin-bottom: 70px;
	}
	.app-screen {
		width: 55%;
	}
	.icons-small {
		width: 17px;
		margin-right: 5px;
	}
	.city-feature {
		font-size: 75%;
	}
	.plan-box {
		width: 100%;
		margin-left: 0%;
		/* height: 450px; */
	}
	.plan-price {
		font-size: 250%;
		margin-bottom: 10px;
		font-weight: 100;
		color: #e67e22;
	}
	.plan-price-meal {
		font-size: 75%;
	}
	.plan-box ul li {
		padding: 5px 0;
		font-size: 80%;
	}
	.contact-form {
		/* border: 2px solid red; test */
		width: 80%;
		margin: 0 auto;
	}
}

/* for iPad in Landscape Mode + Computer View, 1200px being the max! */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%; /* instead of 1140px */
		padding: 0 2%;
	}

	.row {
		padding: 0 2%;
	}
}
